<a [routerLink]="['/admin/hotel-add']" class="btn">Add</a>
<div class="hotels">
  <div *ngFor="let hotel of hotels" class="item">
    <div class="item-img">
      <a href="#">
        <img class="avatar media-object" src="{{ hotel.images[0] }}" alt="...">
      </a>
    </div>
    <div class="item-body">
      <h1 class="media-heading">{{ hotel.name }}</h1>
      <span class="stars alignright">
        <span [ngStyle]="{'width': getStars(hotel.rating)}"></span>
    </span> 
    <p>Leipzig, {{hotel.distance_to_venue}} to ABC conference</p>
      <a [routerLink]="['/hotel', hotel.id]" class="btn">View Details</a>
    </div>
    <div class="delete">
      <img (click)="delete($event, hotel)" class="avatar media-object" src="../assets/img/filled-trash.png" alt="...">
    </div>
  </div>
</div>